.contDetail {
display: flex;
justify-content: center;
  align-items: center;

}

.detailcard {
  margin-left: 2%;
  text-align: center;
  margin-top: 15px;
background-color: rgba(137, 43, 226, 0.096);
border-radius: 5px;
padding: 1%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card1 {
  border: 3px solid;
  
  overflow: auto;
}


.card-titleG {
  margin-top: 1rem;
  color: rgb(255, 174, 23);
}
.card-titleB {
  margin-top: 1rem;
  color: rgb(214, 18, 57);
}
@media only screen and (max-width: 1200px) {
  .card1 img {
    max-width: 250px;
  }
  .card1 {
    border: 1px solid;
    max-width: 55%;
  }
}
@media only screen and (max-width: 1000px) {
  .card1 img {
    max-width: 250px;
  }
  .card1 {
    border: 1px solid;
    max-width: 55%;
  }
  .card-titleG {
    font-size: medium;

    margin-top: 1rem;
    color: rgb(255, 174, 23);
  }
  .card-titleB {
    font-size: medium;
    margin-top: 1rem;
    color: rgb(214, 18, 57);
  }
}
@media only screen and (max-width: 800px) {

  .card1 {
    border: 1px solid;
    max-width: 350px;
  }
  .card-text {
margin-top: -10;
    font-size: 15px;

   
  }
}
