.todoInput {
  border-radius: 3px;
  border: 1px black solid;
  background-color: rgb(255, 255, 255);
  text-align: start;
font-size: 1rem;
  width: 90%;
}

.todoButton2 {
  display: flex;
  align-items: flex-end;
justify-content: flex-end;
max-width: 50%;
}

